html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita rolagem horizontal */
    background-color: #9517E1;
}
/* Opcional: Reset adicional para outros elementos */
* {
    box-sizing: border-box;
}
.img-container {
    float: left;
    width: 65%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.img-container img {
    width: 100%; /* Ou outra largura desejada */
    height: 100%; /* Ou outra altura desejada */
    /* Opcionalmente, use position e transform para ajustar a imagem */
}
.box-container{
    float:left;
    width: 32%;
    height: 93.5%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}
.title-container{
    width: fit-content;
    margin: 30px;
    margin-left: 40px;
}
.phrase-container{
    font-size: small;
    text-align: center;
    font-family: 'Robot', sans-serif;

}
.dados-container{
    font-family: 'Inter';
    color: #9517E1;
    font-weight:600;
    font-size: 134%;
    margin: auto;
    width: 65%;
}
.input{
    text-align: center;
}
input{
    background-color: #fdf2db;
    outline: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}   
input::placeholder{
    font-family: KoHo;
    padding-left: 5px;
    font-weight: 500;
    font-size: 100%;
}  
.cadastrar input{
    width: auto;
    height: auto;
    padding: 10px 30px;
    background-color: #401e88;
    color: #f3a60f;
    border-radius: 10px;
    font-size: 120%;
    font-weight: bold;
    margin: 10% 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.cadastrar input:hover {
    background-color: #210559;
}
.cadastrar input:active {
    transform: scale(0.95);
}

